.section__category {
    margin-bottom: 2rem;
}

.category--title {
    margin-bottom: 1rem;
    position: absolute;
}
.card--poster-img{
    height: 20rem;
}
.category--title a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

.category--title a:hover {
    font-weight: 500;
    cursor: pointer;
}

.category--carousel {
    display: flex;
    align-items: center;
    margin: -2rem 0;
}

.carousel--list {
    overflow: scroll;
    white-space: nowrap;
    display: inline-flex;
    width: 82rem;
    padding: 3rem 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
    list-style: none;
}

.carousel--list::-webkit-scrollbar {
    display: none;
}

.carousel--item {
    display: inline-block;
    text-align: center;
    margin-right: .3rem;
    transition: .2s;
}

.carousel--item img {
    width: 15rem;
    border-radius: .2rem;
}

.carousel--item:hover {
    transform: scale(1.4);
    position: relative;
    border-radius: .4rem;
}